/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

span {
  color: #c20a72;
}

.button {
  border-color: #007bff;
  color: #ffffff;
  background-color: #007bff;
}
